/* Основной стиль текста, используемый в Telegram */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap');   /*import for font*/

body {
    padding: 5px;
    /*font-family: 'Roboto', 'San Francisco', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    font-family: 'Lora', serif;
    font-size: 14px;
    line-height: 1.5;
    color: #000;
    /*background-color: aqua;*/
    background-color: #FFC0CB;
}

/* Дополнительные стили для заголовков */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', 'San Francisco', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    line-height: 1.2;
    color: #333;
}

/* Стили для ссылок */
a {
    color: #1a73e8; /* Цвет ссылки, похожий на используемый в Telegram */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Для центрирования изображений */
}